.btn {
    display: inline-block;
    background: var(--color-bt);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: --var(--transition)
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn.primary {
    background: var(--color-danger);
    color: var(--color-white);

}

.m-auto {
    margin: 0 auto !important;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-col{ 
    flex-direction: column;
}
.gap{ 
    gap: 25px;
}
.items-center{ 
    align-items: center;
}

.h-full {
    height: 100%;
}
.text-center { 
    text-align: center;
}