* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background: #2b2d31;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2b2d31;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #484c55;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {

    --color-primary: #000;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: #rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: #rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #147694;
    --color-bg1: #2e3267;
    --color-bg2: #1bb0c4;
    --color-bt: red;
    --color-green: #00BE08;


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white) !important;
    /* background: var(--color-black); */
    background: #000 !important;
    overflow-x: hidden;
}



/* navigation */
nav {
    /* margin-top: 15px; */
    /* background: rgba(0, 0, 0, 0.4); */
    background: rgb(25 25 25 / 10%);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 91vw;
    height: 10vh;
    position: sticky;
    top: 15px;
    left: 5%;
    z-index: 11;
    
    /* border-radius: 0 0 50px 150px; */
    /* border-bottom: 1px solid rgba(255,255,255, 0.25); */
    /* border-bottom: 1px solid rgba(255,255,255, 0.25); */
    /* box-shadow: 0 0px 10px -5px gray; */
    /* box-shadow: 0px 0 25px 5px #9fccfa; */
    color: #fff;
}

#navDiv{ 
    position: relative;
    padding: 0 10%;
    height: 100%;
}
#progress{ 
        position: absolute;
        /* top: 12px; */
        left: 0;
        height: 10vh;
        background: rgb(25 25 25 / 40%);
        width: 0%;
}


nav h1 a { 
    color: white !important;
    
    text-decoration: none;
}
.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 60%;
}
.nav_menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* border-bottom : 1px solid var(--color-green); */
}
/* .nav_menu:nth-child(1) {
    border-bottom: 5px solid var(--color-green);
} */

.nav_menu a {
    color: white;
    font-size: 1rem;
    transition: all 400ns ease;
    text-decoration: none !important;
}

.nav_menu a:hover {
    color: var(--color-bg2);
}

main{ 
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
}
section {
    height: 80vh;
    scroll-snap-align: start;
    /* border-bottom: 1px solid white; */
}
/* home */
section.home{ 
    display: grid;
    width: 100%;
    height: 90vh;
    place-content: center;
    padding: 5% 10%;
}
#home header{ 
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.homeTitleWord{ 
    font-size: 6rem;
    background: linear-gradient(to right,
                #9fccfa 20%,
                #0974f1 30%,
                #00ff87 70%,
                #103783 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 500% auto;
    animation: textShine 6s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.biggerTitle{
    font-size: 10rem;
}
.home .subheading{ 
    text-align: center;
    font-size: large;
    width: 75%;
    margin: 0 auto;
    color: rgba(255,255,255,0.6)
}


.home_button { 
    width: 100%;
    margin-top: 25px;
}
.home_button button{ 
    font-weight: 600;
    color: white;
    border-radius: 25px;
    background: none;
    transition: 256ms;
    animation: buttonShine 6s ease-in-out infinite alternate;
}

.home_button button:hover {
    cursor: pointer;
    background-color: #2EE59D;
    color: #fff;
    transform: translateY(-7px);
    outline: none;
    border: none;
}
@keyframes buttonShine {
    /* #9fccfa 20%,
        #0974f1 30%,
        #00ff87 70%,
        #103783 80%); */
    0%{
        box-shadow: 0px 0 25px 0px #9fccfa;
            color: #fff;
    }
    25%{
        box-shadow: 0px 0 25px 0px #0974f1;
            color: #fff;
    }
    50%{ 
        box-shadow: 0px 0 25px 0px #00ff87;
            color: #fff;
    }
    100% {
    box-shadow: 0px 0 25px 0px #103783;
        color: #fff;
    }
}



/* rest sections */
.newsection {
    margin-top : 5%;
}

/* about */
#about header img {
    animation: rotate360 6s ease-in-out infinite alternate;
    transform: rotateY(25deg);
}
@keyframes rotate360 {
    0% {
        transform: rotate3d(0deg);
    }
    100% { 
        transform: rotate3D(360deg);
    }
}

.newsection header h2{ 
    font-size: 2.75rem;
}

.aboutDescription{ 
    width: 75%;
    padding: 0 10% 0 0;
}

/* theme */
#theme{  
    padding: 25px 10%;
    height: 500px;
    background: rgba(0,0,0,.5);
    display: flex;
    transition: .9s;
}
#theme .col{
    position: relative;
    width: calc(100% / 4);    height: 100%;
    transition: .9s;
}
#theme .col:hover{
    transform: scale(1.1);
    z-index: 5;
}
#theme .col:nth-child(1) span{
    background: #8e44ad;
}
#theme .col:nth-child(2) span{
    background: #d35400;
}
#theme .col:nth-child(3) span{
    background: #2ecc71;
}
#theme .col:nth-child(4) span{
    background: #c0392b;
}

/***************** span ******************/
#theme .col span{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;   height: 50%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;  align-items: center;
    transition: .9s;
    z-index: 1;
}
#theme .col span:nth-child(1){
    top: 0;
}
#theme .col span:nth-child(2){
    top: 50%;
}
#theme .col span.active{
     z-index: 2;
}
#theme .col span .fa{
    font-size: 60px;
}
#theme .col span h2{
    font-size: 20px;
}
#theme .col span a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background: #fff;   color: #262626;
    border-radius: 20px;
    margin-top: 10px;
    transform: scale(0);
    transition: .5s;
}
#theme .col:hover span a{
    transform: scale(1);
}
#theme .col:hover span a:hover{
    background: #00bcd4;   color: #fff;
}
#theme .col span img{
    width: 100%;  height: 100%;
}

@media screen and (max-width: 850px) { 
   #theme{
      height: 200px;  width: 100%;
   }
   #theme .col span{
       height: 100%;
   }
    #theme .col span:nth-child(2){
        top: 0;
    }
} 

@media screen and (max-width: 600px) { 
    #theme{
       height: calc(200px * 4);  width: 100%;
       display: block;
    }
    #theme .col{
        height: 200px;  width: 100%;
    }
    #theme .col span{
        height: 100%;  width: 100%;
    }
}

/* faqs */

/* carousel */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color: #fff; */
}
.slider-card {
  background: #000;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f44336 !important;
}

.faqs{
    background: var(--color-black);
    box-shadow:inset 0 0 3rem rgba(0,0,0,0.5);
    width: 75%;
    margin: 0 auto;
}

.faqs_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}

.faq{
    padding:2rem;
    display:flex;
    align-items:center;
    gap:1.4rem;
    height:fit-content;
    background:var(--color-primary);
    cursor:pointer;
    border-bottom: 10px solid transparent;
    border-right: 5px solid transparent;
    padding: 15px;
    border-radius: 25px;
    border-bottom-right-radius: 25px;
    border-image: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%) 1 round;
    
}

.faq h4 {
    font-size:1rem;
    line-height:2.2;
}

.faq_icon {
    align-self:flex-start;
    font-size:1.2rem;
}

.faq p {
    margin-top:0.8rem;
    display: none;
}

.faq.open p{
    display:block;
}

/* carousel */
#f0 {
	height: 50vh;
	padding-block: 13rem;
    display: grid;
    place-content: center;
    margin-bottom: 150px ;
    padding-top: 0;
}

.newcontainer {
	position: relative;
	width: 320px;
	/* margin: auto; */
	perspective: 1000px;
}

.carousel {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: rotate360 30s infinite forwards linear;
}

.newimage {
	position: absolute;
	width: 290px;
	height: 187px;
	top: 30%;
	left: 10px;
	right: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 20%;
	box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: flex-end;
    padding-right: 15%;

}

.carousel-span {
	font-size: 2rem;
	font-weight: bolder;
	transform: translateX(80%);
}

@keyframes rotate360 {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(-360deg);
	}
}

.newimage:nth-child(1) {
	background-image: url("../assets/todo/plane.jpg");
	transform: rotateY(-60deg) translateZ(430px);
}

.newimage:nth-child(2) {
	background-image: url("../assets/logo.png");
	transform: rotateY(0deg) translateZ(430px);
}

.newimage:nth-child(3) {
	background-image: url("../assets/todo/drone.jpg");
	transform: rotateY(60deg) translateZ(430px);
}

.newimage:nth-child(4) {
	background-image: url("../assets/todo/bot.jpg");
	transform: rotateY(120deg) translateZ(430px);
}

.newimage:nth-child(5) {
	background-image: url("../assets/todo/boat.jpg");
	transform: rotateY(180deg) translateZ(430px);
}
.newimage:nth-child(6) {
	background-image: url("../assets/todo/robot.jpg");
	transform: rotateY(240deg) translateZ(430px);
}

/* .newimage:nth-child(6) {
	background-image: url("../assets/todo/");
	transform: rotateY(200deg) translateZ(430px);
}

.newimage:nth-child(7) {
	background-image: url("../assets/todo/");
	transform: rotateY(240deg) translateZ(430px);
}

.newimage:nth-child(8) {
	background-image: url("../assets/todo/");
	transform: rotateY(280deg) translateZ(430px);
}

.newimage:nth-child(9) {
	background-image: url("../assets/todo/");
	transform: rotateY(320deg) translateZ(430px);
} */



/*----------------------footer---------------------*/
footer {
    background:#0e0e0e;
    padding-top: 5rem;
    font-size: 0.9rem;
    width: 100%;
    color: white;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer_container>div h4 {
    font-size : 1.5rem;
    margin-bottom: 1.2rem;
}

.footer_1 p {
    margin: 1rem 0 2rem;
}

.footer ul li{ 
    margin: 5px 0;
    transition: 0.4s;
}
.footer ul li a { 
    color: gray;
    padding: 2px 0;
}
.footer ul li a:hover {
    text-decoration: underline;
    transform: translateY(-2.5px);
    
    border-bottom: 1px solid white;
}

.footer_socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;

}
.footer_socials i{ 
    color: white !important;
}

.footer_copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}
